@model InVision_Ticket.Models.Login

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<script type="text/javascript" src="@Url.Content("~/Scripts/jquery.validate.js")"></script>
<script type="text/javascript" src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.js")"></script>

@using (Html.BeginForm())
{
	@Html.LabelFor(m => m.Email)
	@Html.TextBoxFor(m => m.Email)
	@Html.LabelFor(m => m.Password)
	@Html.PasswordFor(m => m.Password)
	<input type="submit" />
	@Html.ValidationSummary()
}