@model InVision_Ticket.Models.Customer

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<fieldset>
    <legend>Customer</legend>

    <div class="display-label">BusinessCustomer</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.BusinessCustomer)
    </div>

    <div class="display-label">CustomerName</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.CustomerName)
    </div>

    <div class="display-label">CustomerNotes</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.CustomerNotes)
    </div>
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { id=Model.CustomerID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
