@model IEnumerable<InVision_Ticket.Models.Login>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table>
    <tr>
        <th>
            Email
        </th>
        <th>
            Password
        </th>
        <th>
            DisplayName
        </th>
        <th>
            UserType
        </th>
        <th>
            Location
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Email)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Password)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DisplayName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.UserType.UserType1)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Location.Location1)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.LoginID }) |
            @Html.ActionLink("Details", "Details", new { id=item.LoginID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.LoginID })
        </td>
    </tr>
}

</table>
