@model IEnumerable<InVision_Ticket.Models.BillRate>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table>
    <tr>
        <th>
            TicketBillRate
        </th>
        <th>
            BillRateDescription
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.TicketBillRate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.BillRateDescription)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.BillRateID }) |
            @Html.ActionLink("Details", "Details", new { id=item.BillRateID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.BillRateID })
        </td>
    </tr>
}

</table>
