@model InVision_Ticket.ViewModels.TicketViewModel

@{
    ViewBag.Title = "Create";
}

<h2>Create</h2>

<script src="@Url.Content("~/Scripts/jquery.validate.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>

@using (Html.BeginForm()) {
    @Html.ValidationSummary(true)
    <fieldset>
        <legend>Create a Ticket</legend>
        Customer Search: <input type="text" id="SearchBox"/>
        <br />
        <div class="scrollable" id="CustomerSelectDiv">
            <select size=@Model.Customers.Count() class="scrollableinside" id="CustomerSelect">
                @foreach (var customer in Model.Customers)
                { 
                    <option  value=@customer.CustomerContacts.First().CustomerContactID>@customer.CustomerName &#09;&emsp;&#09; @customer.CustomerContacts.First().Phone</option>
                }
            </select>
        </div>
        <div style="display: none;">
            <select id="CustomerSelectHidden">
            </select>
        </div>
        <div id="CustomerAjax"></div>

        <div class="editor-label ClearBoth">
            @Html.LabelFor(model => model.Summary)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Summary)
            @Html.ValidationMessageFor(model => model.Summary)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Details)
        </div>
            
        <div class="editor-field">
            
            <div class="mdd_toolbar" id="details_toolbar"></div>
            @Html.TextAreaFor(model => model.DetailsMarkDown, new { @class = "mdd_editor", @id = "details_textarea"})
            <div class="mdd_resizer" id="details_resizer"></div>
            <div class="mdd_preview" id="details_preview">@Model.Details</div>
		    

        </div>



        <div class="editor-label">
            @Html.LabelFor(model => model.Priority)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Priority)
            @Html.ValidationMessageFor(model => model.Priority)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.TicketType)
        </div>
        <div class="editor-field">
            @Html.DropDownListFor(model => model.TicketTypeID, new SelectList(Model.TicketTypeList, "TicketTypeID", "TicketType1"))
            @Html.ValidationMessageFor(model => model.TicketType)
        </div>


        <p>
            <input type="submit" value="Create" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
<script type="text/javascript">
   window.onload=function() {
       document.getElementById("CustomerSelect").onclick = function () {
           $('#CustomerAjax').html("<img src=\"/Content/Loading.gif\" alt=\"Loading\" >");
           var url = "/Customer/DetailsPartial/" + document.getElementById("CustomerSelect").value;

           $.post(url, function (data) {
                $('#CustomerAjax').html(data);
           });
       }
       var $options = $('#CustomerSelect option');

       document.getElementById("SearchBox").onkeyup = function () {
           var $HiddenOptions = $('#CustomerSelectHidden option');
           $HiddenOptions.each(function (index, value) {
               document.getElementById('CustomerSelect').appendChild(this);
           });
           var search = $.trim($(this).val()).replace(/ +/g, ' ').toLowerCase();
           var element = $options.filter(function () {
               var text = $(this).text().replace(/\s+/g, ' ').toLowerCase();
               return !~text.indexOf(search);

           }).appendTo(document.getElementById('CustomerSelectHidden'));
           $('#CustomerSelect option').sort(Sort).appendTo('#CustomerSelect');

       }


       document.getElementById("details_textarea").style.display = 'block';
       document.getElementById("details_resizer").style.display = 'block';
       document.getElementById("details_toolbar").style.display = 'block';
       $('#CustomerSelect option').sort(Sort).appendTo('#CustomerSelect');
   }
   function Sort(a, b)
   {
       return (a.innerHTML > b.innerHTML) ? 1 : -1;
   }
   



   $("textarea.mdd_editor").MarkdownDeep({
       help_location: "~/Content/mdd_help.html",

   });
</script>
<style type="text/css">
 .scrollable{
   overflow: auto;
   width: 200px; /* adjust this width depending to amount of text to display */
   height: 300px; /* adjust height depending on number of options to display */
   border: 1px silver solid;
 }
 .scrollable select{
   border: none;
 }
 .scrollableinside
 {
     width: 200px;
     height: 300px;
 }
     
</style>