@model IEnumerable<InVision_Ticket.ViewModels.TicketListViewModel>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table>
    <tr>
        <th>
            TicketID
        </th>
        <th>
            Summary
        </th>
        <th>
            Details
        </th>
        <th>
            CreatedDateTime
        </th>
        <th>
            Priority
        </th>
        <th>
            LastModifiedDateTime
        </th>
        <th>
            ResolvedDateTime
        </th>
        <th>
            LastModified
        </th>
        <th>
            Status
        </th>
        <th>
            CustomerID
        </th>
        <th>
            CustomerPhone
        </th>
        <th>
            CustomerName
        </th>
        <th>
            TicketType
        </th>
        <th>
            CreatedBy
        </th>
        <th>
            SalesmenLoginID
        </th>
        <th>
            Salesman
        </th>
        <th>
            TechnicianLoginID
        </th>
        <th>
            Technician
        </th>
        <th>
            LocationID
        </th>
        <th>
            SystemID
        </th>
        <th>
            BillRate
        </th>
        <th>
            TicketStatusOpen
        </th>
        <th>
            TicketStatusAttentionRequired
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.TicketID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Summary)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Details)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CreatedDateTime)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Priority)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.LastModifiedDateTime)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ResolvedDateTime)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.LastModified)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Status)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CustomerID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CustomerPhone)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CustomerName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TicketType)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CreatedBy)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SalesmenLoginID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Salesman)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TechnicianLoginID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Technician)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.LocationID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SystemID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.BillRate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TicketStatusOpen)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TicketStatusAttentionRequired)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
        </td>
    </tr>
}

</table>
