@model InVision_Ticket.Models.System

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<fieldset>
    <legend>System</legend>

    <div class="display-label">Type</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Type)
    </div>

    <div class="display-label">Customer</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Customer.CustomerName)
    </div>

    <div class="display-label">Desciption</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Desciption)
    </div>
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { id=Model.SystemID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
