@model InVision_Ticket.ViewModels.TicketViewModel

@{
    ViewBag.Title = "Create";
}

<h2>Create</h2>

<script src="@Url.Content("~/Scripts/jquery.validate.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>

@using (Html.BeginForm()) {
    @Html.ValidationSummary(true)
    <fieldset>
        <legend>Ticket Information</legend>
        Customer Search: <input type="text" id="SearchBox"/>
        <br />
        <div class="scrollable" id="CustomerSelectDiv">
            <select size="30" class="scrollableinside" id="CustomerSelect">
                @foreach (var customer in Model.Customers)
                { 
                    <option  value=@customer.CustomerContacts.First().CustomerContactID>@customer.CustomerName &#09;&emsp;&#09; @customer.CustomerContacts.First().Phone</option>
                }
            </select>
        </div>

        <div id="CustomerAjax"></div>
        <div class="scrollable" id="SystemSelectDiv">
            <select size="30" class="scrollableinside" id="SystemSelect">
            </select>
        </div>
        <div id="SystemAjax"></div>

        <div class="editor-label ClearBoth">
            @Html.LabelFor(model => model.Summary)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Summary)
            @Html.ValidationMessageFor(model => model.Summary)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Details)
        </div>
            
        <div class="editor-field">
            
            <div class="mdd_toolbar mdd" id="details_toolbar"></div>
            @Html.TextAreaFor(model => model.DetailsMarkDown, new { @class = "mdd_editor mdd", @id = "details_textarea"})
            <div class="mdd_resizer mdd" id="details_resizer"></div>
            <div class="mdd_preview mdd" id="details_preview"></div>
        </div>



        <div class="editor-label">
            
            @Html.LabelFor(model => model.Priority)
        </div>
        <div class="editor-field">
            @Html.DropDownListFor(model => model.Priority, new SelectList(Model.TicketPriorities, "3"))
            @Html.ValidationMessageFor(model => model.Priority)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.TicketType)
        </div>
        <div class="editor-field">
            @Html.DropDownListFor(model => model.TicketTypeID, new SelectList(Model.TicketTypeList, "TicketTypeID", "TicketType1"))
            @Html.ValidationMessageFor(model => model.TicketType)
        </div>

        <p>
            <input type="submit" value="Create" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
<script type="text/javascript">
   window.onload=function() {

   }
   $(function () {
    document.getElementById("CustomerSelect").onclick = function () {
        $('#CustomerAjax').html("<img src=\"/Content/Loading.gif\" alt=\"Loading\" >");
        var CustomerURL = "/Customer/DetailsPartial/" + document.getElementById("CustomerSelect").value;

        $.post(CustomerURL, function (data) {
            $('#CustomerAjax').html(data);
        });
        var SystemURL = "/System/SystemsList/" + document.getElementById("CustomerSelect").value;
        $.post(SystemURL, function (data){
            $('#SystemSelect').html(data);
        });
           
    }
    document.getElementById("SystemSelect").onclick = function ()
    {
        $('#SystemAjax').html("<img src=\"/Content/Loading.gif\" alt=\"Loading\" >");
        var SystemURL = "/System/DetailsPartial/" + document.getElementById("SystemSelect").value;
        $.post(SystemURL, function (data){
            $('#SystemAjax').html(data);
        });
    }

    $('#CustomerSelect option').sort(Sort).appendTo('#CustomerSelect');
    var customerSelect = $("#CustomerSelect"),
        searchField = $("#SearchBox"),
        options = customerSelect.find("option").clone(); // clone into memory

    // generic method to clean names
    function sanitize(string) {
        return $.trim(string).replace(/\s+/g, ' ').toLowerCase();
    }

    // prepare the options by storing the
    // "searchable" name as data on the element
    options.each(function () {
        var option = $(this);
        option.data("sanitized", sanitize(option.text()));
    });

    // handle keyup
    searchField.keyup(function (event) {
        var term = sanitize($(this).val()),
            matches;

        // just show all options, if there's no search term
        if (!term) {
            customerSelect.empty().append(options.clone());
            return;
        }

        // otherwise, show the options that match
        matches = options.filter(function () {
            return $(this).data("sanitized").indexOf(term) != -1;
        }).clone();
        customerSelect.empty().append(matches);
    });
   });
   function Sort(a, b)
   {
       return (a.innerHTML > b.innerHTML) ? 1 : -1;
   }
   $(".mdd").css("display", "block");



   $("textarea.mdd_editor").MarkdownDeep({
       help_location: "~/Content/mdd_help.html",

   });
</script>
<style type="text/css">
 .scrollable{
   overflow: auto;
   width: 200px; /* adjust this width depending to amount of text to display */
   height: 300px; /* adjust height depending on number of options to display */
   border: 1px silver solid;
 }
 .scrollable select{
   border: none;
 }
 .scrollableinside
 {
     width: 200px;
     height: 300px;
 }
     
</style>