@model IEnumerable<InVision_Ticket.ViewModels.TicketListViewModel>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table>
    <tr>
        <th>
            TicketID
        </th>
        <th>
            Summary
        </th>
        <th>
            Created
        </th>
        <th>
            Priority
        </th>
        <th>
            Last Modified
        </th>
        <th>
            Resolved
        </th>
        <th>
            Status
        </th>
        <th>
            Phone
        </th>
        <th>
            Customer
        </th>
        <th>
            type
        </th>
        <th>
            Created By
        </th>
        <th>
            Salesman
        </th>
        <th>
            Technician
        </th>
        <th>
            LocationID
        </th>
        <th>
            SystemID
        </th>
        <th>
            BillRate
        </th>
        <th>
            TicketStatusOpen
        </th>
        <th>
            TicketStatusAttentionRequired
        </th>
    </tr>

@foreach (var item in Model) {
    <tr class="@GetTRClass(item.TechnicianLoginID, item.SalesmanLoginID, item.TicketStatusAttentionRequired)" onclick="OpenTicket('@item.TicketID')">

        <td>
            @Html.DisplayFor(modelItem => item.TicketID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Summary)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CreatedDateTime)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Priority)
        </td>
        <td>
            @if (item.LastModifiedDateTime.HasValue)
            {
                @Html.DisplayFor(modelItem => item.LastModifiedDateTime.Value)
            }
            else
            {
                @Html.Raw("-");
            }
        </td>
        <td>
             @if (item.ResolvedDateTime.HasValue)
            {
                @Html.DisplayFor(modelItem => item.ResolvedDateTime.Value)
            }
            else
            {
                @Html.Raw("-");
            }
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TicketStatus)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CustomerPhone)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CustomerName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TicketType)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CreatedBy)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Salesman)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Technician)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.LocationID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SystemID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.BillRate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TicketStatusOpen)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TicketStatusAttentionRequired)
        </td>

    </tr>
}

</table>
<script>
    function OpenTicket(id) {
        var url = "/Ticket/Edit/" + id;
        var win = window.open(url, '_blank');
        win.focus();
    
    }

</script>

<style>

    .ticketListRow:hover
    {
        background-color:#B0C4DE;
        border-bottom-width:0;
    
    }
    .ticketListRow td
    {
        border:0 solid black;
        border-left-width:0;
        border-right-width:0;    
    }
    .attention
    {
        background-color:#FFE4C4;    
    }
</style>


@functions{ 
    public string GetTRClass(int? TechID, int? SalesID, bool? AttentionRequired) 
    {
        if(AttentionRequired.HasValue)
        {
            if(AttentionRequired.Value)
            {
                var userID = ViewBag.userID;
                if(TechID.HasValue)
                {
                    if (TechID.Value == userID)
                    {
                        return "ticketListRow attention";
                    }
        
                }
                if(SalesID.HasValue)
                {
                    if (SalesID.Value == userID)
                    {
                        return "ticketListRow attention";
                    }
                }
                return "ticketListRow";
            }
            return "ticketListRow";
        }
        return "ticketListRow";
    }
    
}